.container {
    min-height: 100vh;
    padding: 30px;
    width: 100%;
    background-color: black;
    box-sizing: border-box;
}

.auth-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.form {
    /* background-color: red; */
    padding: 20px;
    color: white;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    align-items: flex-start;
    width: 100%;
    height: 100%;

}

.inp {
    height: 40px;
    width: 100%;
    text-indent: 5px;

}

.btn {
    /* border-radius: 10px; */
    font-weight: 2;
    background-color: aqua;
    cursor: pointer;
    padding: 5px;
    margin: 2px;
    width: fit-content;
    text-align: center;
    border-radius: 10px;
}

.btn:hover {
    background-color:rgb(130, 130, 204);
    font-weight: bold;
}

.not-found {
    color: wheat;
    text-align: center;
}

a {
    color: blueviolet;
}

.Success {
    color: black;
    border-radius: 5%;
    padding: 10px;
    background-color: green;
    width: 100%;
    opacity: 1;
}

.invisible-msg {
    border-radius: 5%;
    padding: 10px;
    width: 100%;
    opacity: 0;
    display: none;
}



.error {
    color: red;
    border-radius: 5%;
    padding: 10px;
    background-color: rgb(150, 4, 4);
    width: 100%;
    opacity: 1;
}

.header {
    padding: 10px 20px;
    width: 100%;
    background-color: aquamarine;
    align-items: center;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    border-radius: 3px;
}

.header-links {
    display: flex;
    gap: 50px;
}

.track-container {
    width: 100%;
    align-items: flex-start;
    flex-direction: column;
    row-gap: 15px;
    height: auto;



}

.search {
    width: 100%;
    background-color: sandybrown;
    height: 40px;
    padding: 10px;
    border-radius: 5px;
    position: relative;
    display: flex;
    align-items: center;

}

.clear-btn {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: none;
    font-size: 20px;
    cursor: pointer;
    color: #555;
}

.track-inp {
    border-radius: 5px;
    align-items: center;
    text-indent: 5px;
    height: 25px;
    width: 100%;


}

.search-item {
    width: 200px;
    padding: 5px;
    background-color: white;
    /* margin-top: 45px; */
    position: absolute;
    color: black;



}

.item {
    width: 100%;
    padding: 0px;
    /* background-color: lightgray; */
    color: black;
}

.item:hover {
    cursor: pointer;
    font-weight: bold;
    padding: 2px;
}

.food {
    width: 100%;
    padding: 20px;
    /* background-color: gray; */

}

.food-img {
    width: 300px;
    height: 250px;
    padding: 20px;
    background-color: lawngreen;
}

.food-image {
    width: 100%;
    height: 250px;

}

.nutriant {
    color: wheat;
    display: flex;
    width: fit-content;
    padding-left: 5px;
}

.-title {
    padding-right: 10px;
}

.track-control {
    display: flex;
    column-gap: 2%;
}

.track-control>.inp {
    width: 68%;

}

.track-control> .track-btn {
    width: 30%;

}

.diet-container {
    align-items: flex-start;
    row-gap: 20px;
    flex-direction: column;
    /* background-color: red; */

}

.diet-item{
    width: 100%;
    /* padding: 10px; */
    gap: 5px;
    background-color: lightgray;
    color: black;
} 


.head-btn {
    border: 10px;
    background-color: aquamarine;
    
}

.head-btn:hover {
    cursor: pointer;
    font-weight: bold;
    padding: 3px;
    border-radius: 2px;
}

.login-div{
    width:400px;
}

.track-btn{
    background-color: aqua;
    border-radius: 5px;
}
.track-btn:hover{
    background-color:rgb(130, 130, 204);

}

.diet-container {
    align-items: flex-start;
    row-gap: 20px;
    flex-direction: column;

}

.diet-items-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
}